<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="myFilePath" value="S:\Office Work\Monocept Training\Assignments\MoviesApplication\MoviesApplication\Files\Movies.json"/>
	</appSettings>
</configuration>